.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  font-size: 17px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
  border: 2px solid black; /* Added border */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.acceptButton, .rejectButton {
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.acceptButton {
  background-color: #000000;
  color: white;
}

.acceptButton:hover {
  background-color: #218838;
}

.rejectButton {
  background-color: #000000;
  color: white;
}

.rejectButton:hover {
  background-color: #c82333;
}

.logo{
 margin: 0 auto;
}
.newRide{
  font-size: 25px;
}