.box{
    margin: 10px;
    width: 100%;
    padding: 0.1rem;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.container {
  background-color: #e0dede;
  padding: 20px;
  border-radius: 8px;
}

.ride {
  display: flex;
  justify-content: space-between;
  background-color: #00ff00;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.headings{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.ride div {
  flex: 1;
  text-align: center;
}