/* Default styles */
.heading {
  margin-top: 30px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.main {
  margin-left: 50px;
}

.change {
  margin-left: 70px;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.buttonContainer {
  margin-bottom: 20px;
}

.button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:active {
  border-bottom: 2px solid black;
}

.contentContainer {
  padding: 10px;
}

.flexContainer {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexItem {
  margin-top: 0;
  padding: 20px;
  margin: 10px;
  flex: 1;
  text-align: center;
}

.flexItem ul li {
  list-style-type: disc;
  font-size: 16px;
  line-height: 1.5;
}

.headings {
  margin-top: 20px;
  font-weight: 600;
  margin-right: 200px;
  font-size: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .main {
    margin-left: 20px;
  }

  .change {
    margin-left: 40px;
  }

  .buttonContainer {
    margin-bottom: 10px;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .headings {
    margin-right: 20px;
    font-size: 18px;
  }
}