/* DriverPortal.module.css */
.container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 390px;
  margin: 0 auto;
  margin-left: 90px;
  margin-top: 30px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bolder;
}

.driverInfo {
  margin-bottom: 1rem;
}

.driverInfo p {
  font-size: 1rem;
  margin: 0.5rem 0;
  margin-left: 3.5rem;
}

.findingDriverTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.progressBarContainer {
  height: 10px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s;
}

.button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 4.8rem;
}

.button:hover {
  background-color: #0056b3;
}
